.input {
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.input label {
    font-weight: bold;
    margin-right: 1rem;
}

.input input {
    width: 4rem;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 1rem;
}
